/* font 1 */

/* font-family: 'Merriweather', serif; */

/* font 2 */
/* font-family: 'Inter', sans-serif;  */



/* banner style */
nav {
    max-width: 1000px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("B9A1-New-Year-New-Mission/resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    background-position: center;
    margin: 0 auto;
    margin-top: 100px;
}

.header-title {


    text-align: center;
    padding: 120px 30%;

    position: center;
}

.title-1 {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 0;
}

.title-2 {

    color: #FFF;
    padding-top: 0;
    text-align: center;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
}

/* main section style */
.title-off {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 100px;
}

.off-desc {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}

.title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
}

.new-year {
    max-width: 550px;
}

/* section 2 design */
.welcome-sec {
    max-width: 1000px;
    max-height: 500px;
    background-image: linear-gradient(#070211, #07021100), url('B9A1-New-Year-New-Mission/resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin: 0 auto;
    margin-top: 100px;
    border: none;
    border-radius: 20px;
    display: flex;
}

.welcome-img img {
    max-width: 200px;
    margin-top: 100px;
    margin-left: 30px;
}


.welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 48px;
    max-width: 500px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 7.04px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.welcome-desc {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    max-width: 600px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 0px;
}

.welcome {
    padding: 30px 0 200px 80px;


}

.join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    background-color: gold;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 10px;
}

.join:hover {
    color: #F00;
}

/* section 3 style */
.place-sec {
    width: 1000px;
    height: 350px;
    margin: 100px auto;
    border-radius: 20px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
}

.date-time {
    text-align: center;
    padding-top: 100px;
    line-height: 30px;
}

.red {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;

}

.join-now {
    background-color: #f00;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
}

/* section 4 design */
.soon-container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 70px 70px;
    margin: 0 auto;
}

.left-div {
    max-width: 300px;
}

.cap-1 {
    color: #F00;
    font-family: Inter;
    font-size: 18px;
    padding-bottom: 0;
    padding-top: 50px;
    margin-top: 0;
}

.cap-2 {
    color: #070211;
    padding-top: 0;

    font-family: Merriweather;
    font-size: 32px;
}

.offer-desc {
    color: rgba(7, 2, 17, 0.60);
    max-width: 700px;
    font-family: Inter;
    font-size: 16px;
}


.ellipse {
    border-radius: 403px;
    border: 15px solid #F00;
    padding: 20px;
    max-width: 250px;
}

.right-div {
    text-align: left;
    width: 450px;
}

.sal {

    color: #F00;
    margin-top: 50px;
    margin-bottom: 0;

    font-family: Inter;
    font-size: 38px;
}

.sal-desc {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
}

#group-96 {
    width: 100px;
}

/* section style */
.holiday {
    max-width: 1000px;
    height: 700px;
    background-image: url('B9A1-New-Year-New-Mission/resources/Rectangle\ 1.png'), url('B9A1-New-Year-New-Mission/resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: center right, left bottom;
    background-size: 300px, 100% 198px;
    margin: 0 auto;
    margin-top: 100px;

}

.holi-title {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.holi-title-1 {
    color: #070211;
    font-family: Inter;
    font-size: 18px;
    padding-top: 0;
    margin: 0;
}

.holi-title-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 62px;
    margin: 0px;
    padding: 0;
}

.holi-red {
    color: #F00;

    text-align: center;
    font-family: Merriweather;
    font-size: 62px;
}

.holi-desc {
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 16px;
    padding-bottom: 700px;
    padding: 0;
    margin: 0;
    padding-top: 20px;

}

.holi-img {
    display: flex;
    justify-content: space-around;
    /* gap: 100px; */
}

#holi-left {
    width: 500px;
    margin-right: 50px;
}

#holi-right {
    width: 200px;
    /* padding: 50px 100px 0 0; */
    margin-right: 140px;
    margin-top: 100px;
}

/* section 5 style */

.portfulio {
    max-width: 1000px;
    margin-top: 100px;
    margin: 120px auto;
}

.gift-title-1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    padding-top: 500px;
    margin: 0;
    padding: 0;
}

.gift-title-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.gift-desc {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
}

.gift-img {
    margin: 0 15px;
}

.gift-img img {
    width: 310px;
    display: inline;
    padding: 0px;
    gap: 10px;
    border: 0;
}

.gift-img img:hover {
    /* border: 3px solid black;
    border-radius: 20px; */
    box-shadow: 0px 0px 30px 0px;
    border-radius: 20px;
}

/* section 5 style */
.subscribe-sec {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-bottom: 100px;
}

.subs-img {
    max-width: 120px;
    max-height: 120px;
}

.subs-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
}

.subs-desc {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    max-width: 700px;
    padding: 0px 150px;
}

.input-subs {
    padding-bottom: 50px;
    display: flex;
    margin-left: 180px;
}

#email {
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 50px 0 0 50px;
    padding: 10px 50px 0 50px;
    margin-right: 0px;
}

input::placeholder {
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 16px;
}

.subs-btn {
    width: 180px;
    height: 60px;
    background-color: #F00;
    border: none;
    border-radius: 0 50px 50px 0;
    margin-left: 0;
    padding: 15px 0;
}

.btn-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
}

/* footer style */
footer {
    background-color: #070211;
    max-width: 100%;
    height: 600px;
}

.first-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 140px;
    margin-right: 200px;
    padding-top: 100px;
}

.foot-desc {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    line-height: 40px;
}

.frist-right a {
    color: #FFF;
    text-decoration: none;
    font-family: Inter;
    font-size: 18px;
    padding-right: 5px;
}

.small-icon {
    width: 20px;
    height: 20px;
    padding-top: 10px;
    padding: 5px;
    margin-top: 1px;
}

.common-hr {
    background: rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid gray;
    margin: 30px 130px;
}

.footer-link {
    display: flex;
    margin-left: 40%;
}

.footer-link a {
    text-align: center;
}

.footer-link a img {
    width: 44px;
    padding: 10px;

}

.bottom-foot {
    display: flex;
    justify-content: space-between;
    padding: 10px 140px;
}

.left-bottom {
    color: #FFF;

    font-family: Inter;
    font-size: 16px;
}

.right-bottom {
    color: #FFF;

    font-family: Inter;
    font-size: 16px;
}